.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header_content{
    width: 100%;
    height: 100vh;
    position: relative;
}
.header_more{
    width: 574px;
    height: 319px;
    padding: 50px;
    background: #f8f200;
    clip-path: polygon(16.70% 0.00%,100.00% 0.00%,100.00% 76.39%,83.30% 100%,0.00% 100.00%,0.00% 21.76%);
  position: absolute;
  bottom: 0;
  right: 0;
}
.header_more h1{
    font-size: 62px;
    line-height: 63.3px;
    font-weight: 400;
}
.header_more button{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    padding: 19px 50px;
    margin-top: 30px;
    background: #000000;
    color: #f8f200;
    cursor: pointer;
}